* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  padding: 1.5%;
  display: grid;
  grid-template-columns: 20% auto 35%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.nav-links {
  align-self: center;
  justify-self: center;
  grid-column: 3/4;
}

#anvil {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 100px;
}
.home {
  color: white;
  padding: 7px;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

.home:hover {
  color: white;
}

body {
  background-color: rgb(231, 228, 228);
}

#jumbotron {
  color: white;
}

#jumbotron h1 {
  overflow: hidden;
  border-right: 1rem solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.75rem;
  animation: typing 5s steps(30, end), moving-line 0.75s step-end 10;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* @keyframes moving-line {
    from, to { border-color: transparent }
    50% { border-color: black; }
  } */

#name-header {
  font-size: 4rem;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2.5%;
  z-index: 1;
}

#title-header {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 5%;
  z-index: 1;
}

#stars-video {
  position: relative;
  left: 0;
  width: 100%;
  top: -650px;
  /* height: 10%; */
  z-index: -1;
  margin-bottom: -550px;
}
#about-me-section {
  padding: 8%;
}

.about-me-grid {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background: repeating-linear-gradient(rgb(121, 121, 216), rgb(155, 144, 144));
}

#profile-pic {
  height: 50%;
  width: 65%;
  justify-self: end;
  align-self: center;
  border-radius: 20%;
}

.about-me-text {
  padding: 6% 10% 10% 10%;
}
#skill-icons-container {
  padding-top: 5px;
  height: 450px;
  box-shadow: 2px 2px 2px grey;
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5%;
}

.skill-div {
  justify-content: center;
  text-align: center;
}

.skill-image {
  width: 50%;
  height: 60%;
  transition: all, 1s;
}

.skill-image:hover {
  transform: scale(1.2);
}

.skills-header {
  font-family: 'Raleway', sans-serif;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.soft-skill-icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  background-color: white;
  height: 300px;
  overflow: auto;
  box-shadow: 2px 2px 2px grey;
}

.soft-skill-div {
  justify-content: center;
  width: 25%;
  height: 30%;
  text-align: center;
  flex-basis: auto;
}

.soft-skill-image {
  width: 45%;
  height: 100%;
  transition: all, 1s;
}

.soft-skill-image:hover {
  transform: rotate(360deg);
}

#projects-section {
  padding-left: 10%;
  padding-right: 10%;
}

.portfolio-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.portfolio-image {
  width: 300px;
  height: 300px;
  transition: all 0.5s ease-in;
  margin-bottom: 5px;
  z-index: -1;
}

.portfolio-image:hover {
  transform: scale(1.05);
}

.project-descriptions {
  width: 300px;
}

.learn-more-column {
  width: 30%;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#resume-image {
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

.portimage {
  height: 250px;
}

.resizebody {
  height: 380px;
}

.card {
  border: solid black 2px;
}

.portCard {
  width: 20rem;
}

.linksButton {
  width: 100%;
}

.descriptions {
  position: absolute;
  bottom: 15px;
}
.siteCard {
  background-image: linear-gradient(lightgray, rgb(206, 203, 203));
}

#learn-more-section {
  padding: 5%;
  background-color: grey;
  margin-top: 5%;
}

#learn-more-container {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
}

#contact-me-container {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
}

.learn-header {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid black;
}

.row-separator {
  border: black solid 2px;
}

.contact-icon-div {
  text-align: center;
}

.portfolio-link {
  display: block;
  color: black;
  border: black solid 2px;
  margin-top: 10px;
  padding: 10px;
  /* border-radius: 40%; */
  /* background-color: rgb(59, 84, 92); */
}

.contact-link {
  color: black;
}

@media only screen and (max-width: 1250px) {
  /* nav and first section */
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nav-links {
    grid-column: 1 / 2;
  }

  #name-header {
    font-size: 2.5rem;
    padding-top: 2%;
    padding-bottom: 2.5%;
  }
  #title-header {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 30%;
    z-index: 1;
  }
  /* about me section */

  #profile-pic {
    height: 100%;
    width: 40%;
    justify-self: center;
    align-self: flex-start;
  }

  .about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 500px;
    border-radius: 0;
    background: repeating-linear-gradient(
      rgb(121, 121, 216),
      rgb(155, 144, 144)
    );
  }

  #skill-icons-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .skill-image {
    width: 30%;
    height: 36%;
    transition: all, 1s;
  }

  .soft-skill-div {
    justify-content: center;
    width: 50%;
    height: 30%;
    text-align: center;
    flex-basis: auto;
  }
  .portfolio-project {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 660px) {
  #skill-icons-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .skill-image {
    width: 30%;
    height: 36%;
    transition: all, 1s;
  }
}

@media only screen and (max-width: 500px) {
  #name-header {
    font-size: 1rem;
    padding-top: 2%;
    padding-bottom: 2.5%;
  }

  #profile-pic {
    height: 30%;
    width: 50%;
    justify-self: center;
    align-self: flex-start;
  }

  .about-me-grid {
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
}
